/*右侧*/
.bookMeddleRight{
    width: 71%;
    float: right;
    border-left: 1px dashed #AEAEAE;
    background-color: #F5F3EF;
}
.meddleRightTop{
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    border-bottom: 1px dashed #AEAEAE;
}
.yourPosition{
    margin-left: 2%;
    display: inline-block;
    width: 26%;
}
.meddleRightTop b{
    color: #FA4846;
}
.bookCatTotle{
    width: 70%;
    float: right;
    text-align: right;
    margin-right: 15px;
}
.bookInfoList{
    width: 100%;
    height: 100%;
}
.bookInfoBox{
    width: 100%;
    height: 250px;
    border-bottom:1px dashed #AEAEAE;
}
.bookInfo{
    width: 100%;
    height: 100%;
    padding: 20px 44px;
    font-size: 14px;
}
.bookCoverBox{
    display: inline-block;
    width: 25%;
    margin-left: 5%;
    height: 100%;
    float: left;
    /*border: 1px solid blue;*/
}
.bookCoverBox img{
    margin: 0px auto;
    height: 100%;

}
.bookInfoText{
    float: left;
    width: 60%;
    height: 100%;
    display: inline-block;
    /*border: 1px solid blue;*/

}
h3{
    margin-top: 0px;
    font-size: 20px;
}
.bookTitle{
    width: 100%;
    height: 30px;
}
.bookInformationBox{
    width: 100%;
    height: 100%;
}
.bookInformation{
    width: 44%;
    height: 100%;
    margin-left: 5%;
    display: inline-block;
}
.bookInformation p{
    height: 30px;
    line-height: 30px;
    color: #787878;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.bookInformation_detail{
    width: 100%;
    height: 100%;
    margin-left: 5%;
    display: inline-block;
}
.bookInformation_detail p{
    height: 30px;
    line-height: 30px;
    color: #787878;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.bookReadButtonBox{
    float: left;
    width: 10%;
    height: 100%;
    display: inline-block;
    position: relative;
}
.bookReadButton{
    background-color: #000;
    width: 90%;
    height: 35px;
    border: none;
    line-height: 35px;
    color: white;
    border-radius: 4px;
    position: absolute;
    bottom: 0px;
}
.pageBox{
    width: 100%;
    height: 100px;
    margin: auto;
}