<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中共党史经典文献数据库---<block name="title"></block></title>
    <meta name='veiwport' content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" >
    <link type="image/x-icon" href="__PUBLIC__/image/index/partyhistory.ico" rel="shortcut icon">
    <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/laydate/laydate.js"></script>
    <link href="__PUBLIC__/css/base.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/topRight.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/search.css" rel="stylesheet" />
    <link href="__PUBLIC__/css/main_base.css" rel="stylesheet" />
    <block name="header"></block>
</head>
<body>
    <div class="baseTop">
        <div class="baseTopBox">
            <div class="leftTop">
                <div class="leftLogo">
                    <a href="{:U('index')}" ><img src="__PUBLIC__/image/baseTop/logoLeft.png"/></a>
                </div>
                <div class="leftSearch">
                    <include file="Index/search"/>
                </div>
            </div>
            <div class="rightTop">
                <include file="Index/topRight"/>
            </div>
            <div class="searchText">
                <include file="Index/searchType"/>
            </div>
        </div>

    </div>
    <div class="mainBox">

        <block name="content"></block>
    </div>
    <div class="main_footer">
        <p>版权所有&copy;&nbsp;&nbsp;&nbsp;谷浪远景（北京）科技发展有限公司</p>
    </div>

    <script src="__PUBLIC__/js/search.js"></script>
</body>
</html>