<extend name="Index/base"/>
<block name="title">检索结果页</block>
<block name="header">
    <style>
        .textArea{
            width: 100%;
        }
        .textArea p{
            margin:20px 0px 0px 2%;
        }
        .textArea span{
            color: red;
        }
        .textArea span a{
            color: red;
        }
        .cueBox{
            margin-left: 30px;
        }
        .cueBox ul{
            margin: 20px;
        }

    </style>
</block>
<block name="content">
    <div class="textArea">
        <notempty name="word">
            <p>您是不是查找：<foreach name="word" item="vw" ><span><a href="javascript:viod(0)" onclick="getSearch(this)" >{$vw}</a></span>&nbsp;&nbsp;&nbsp;</foreach></p>
        </notempty>
        <p><notempty name="searchAreaText">在{$searchAreaText}下</notempty>找不到<notempty name="searchWord">和<span>{$searchWord|default=''}</span></notempty>相符的内容或信息。建议您</p>
        <div class="cueBox">
            <ul class="list-unstyled">
                <li>1.检查输入字词有无错误</li>
                <li>2.请换用另外的查询字词</li>
                <li>3.请改用较短或较常见的字词</li>
            </ul>
        </div>
    </div>
    <script>
        var textAreaHeight=$(window).height()-250;
        $('.textArea').height(textAreaHeight)
    </script>
</block>
