<style>
    .bdshare-button-style0-16 a, .bdshare-button-style0-16 .bds_more{
        background-image:none;
        font-size: 14px;
        margin-right:6px;
        text-align: center;
        padding-left:19px;
        /*height:100%;*/
    }

    .bdshare_popup_box:hover + .moreList{
        display:block;
    }
</style>
<div class="topBox">

        <ul>
            <li>关于本库</li>
            <li>使用帮助&nbsp;&nbsp;&nbsp;|</li>
            <li><img src="__PUBLIC__/image/index/userPhoto.png" style="margin-right: 5px;" width="28"><a href="#">登录</a></li>
            <li ><a  class="upList">更多<img src="__PUBLIC__/image/index/uplist.png" ></a>
                <div class="moreList" hidden >
                    <div class="small_bg"><img src="__PUBLIC__/image/index/bg.png"></div>
                    <ul>
                        <li><div class="bdsharebuttonbox shareBox" data-tag="share_1" ><a class="bds_more" data-cmd="more">分享</a></div></li>
                        <li><a href="javascript:void(0)" onclick="AddFavorite( '中共党史经典文献数据库',window.location.href)">收藏</a></li>
                        <li>反馈</li>
                    </ul>
                </div>
            </li>
        </ul>
</div>
<script>
    //收藏本站 bbs.ecmoban.com

    function AddFavorite(title, url) {

        try {

            window.external.addFavorite(url, title);

        }

        catch (e) {

            try {

                window.sidebar.addPanel(title, url, "");

            }

            catch (e) {

                alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");

            }

        }

    }

    window._bd_share_config = {
        common : {
            bdText : '中共党史经典文献数据库',
            bdDesc : 'aa',
            bdUrl : window.location.href,
            bdMini:1,
            bdPopupOffsetLeft:-118,
            bdPopupOffsetTop:-20,
        },
        share : [{
            "bdSize" : 16
        }],
        slide : [{
            bdImg : 0,
            bdPos : "right",
            bdTop : 100,
        }],
//        image : [{
//            viewType : 'list',
//            viewPos : 'top',
//            viewColor : 'black',
//            viewSize : '16',
//            viewList : ['qzone','tsina','huaban','tqq','renren']
//        }],
//        selectShare : [{
//            "bdselectMiniList" : ['qzone','tqq','kaixin001','bdxc','tqf']
//        }]
    }
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion='+~(-new Date()/36e5)];
</script>
