<div class="topBox">
        <ul>
            <li>关于本库</li>
            <li>使用帮助&nbsp;&nbsp;&nbsp;|</li>
            <li><img src="__PUBLIC__/image/index/userPhoto.png" style="margin-right: 5px;" width="28"><a href="#">登录</a></li>
            <li ><a  class="upList">更多<img src="__PUBLIC__/image/index/uplist.png" ></a>
                <div class="moreList" hidden >
                    <div class="small_bg"><img src="__PUBLIC__/image/index/bg.png"></div>
                    <ul>
                        <li>分享</li>
                        <li>收藏</li>
                        <li>反馈</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>